<a href="https://colab.research.google.com/github/Alhmesh/Training-tasks/blob/main/LAB_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# for first Question (Create Tuple with three elements:)

Tup = (1, 'Abdullah', 2.5)
print(type(Tup))

<class 'tuple'>

In [ ]:
# Q2 how do you access the second element of a list?

answer = [2,5,8,'Abdullah']
print(answer[1])

x=[1,2,3,4,5,6,7,8,9,10]
y = len(x)
if y%2 == 1:
  print('odd')
elif y%2 == 0:
  print('even')

5
even

In [ ]:
# Question 3 Write program to add two using a function

def addTwoNum(Number1, Number2):
  result = Number1 + Number2
  print('The result for adding two number:= ',result)
  return result

num1 = 5
num2 = 6

addTwoNum(num1,num2)

The result for adding two number:=  11

11

In [ ]:
# for Question 4 explain the difference between a list and a tuple
theList = [1, 2, 3, 4, 5] # the List between square brackets

theTuple = (1,2,3,4,5) #the tuple between two brackets
print(type(theList))
print(type(theTuple))

<class 'list'>
<class 'tuple'>

In [ ]:
# Question 5 check if a key mention in dictionary:

Dict = {'Abdullah':'Engineer','Dream':'Robotics'}

key_to_check = 'Mohammed'

if key_to_check in Dict.keys():
  print("I found the key")
else:
  print('the key is not founded')

the key is not founded

In [ ]:
# Question 6 : Write a pyton function to found the maximum of three numbers.

def maximum(number):
  Max = max(number)
  maxposi = number.index(max(number))
  print('the maximum number is=', Max, 'and the index of this number is=', maxposi)

listOfNumbers = [1, 50 , 40, 6, 8, 15]
maximum(listOfNumbers)

the maximum number is= 50 and the index of this number is= 1

In [ ]:
# Q7: Create a Set of three elements

mysets = {"Apple", "Tomato", "Banana"}
print(type(mysets))

<class 'set'>

In [ ]:
# Q8 use for loop to print number from 1 - 5:
counter = 0
for counter in range(5):
  print(counter + 1)

1
2
3
4
5

In [ ]:
#Q9 convert list to sets:

lis = [1,2,3,4,5,6,7,8,9]
NewSet = set(lis)
print(type(NewSet))

<class 'set'>

In [ ]:
#Q 10: write a program to calculate the factorial of a number using a while loop.
number = 25
if number < 0:
  print("the factorial is:", 0)
elif number == 0 or number == 1:
  print('The factorial is:', 1)
else:
  fact = 1
  while number > 1:
    fact *= number ## fact = fact * number
    number -= 1 ## number = number - 1
  print('The factorial number is:', fact)

The factorial number is: 15511210043330985984000000

In [ ]:
# Q 11: explaine the purpose of the if statement in python
# the purpose of the if statement is to check if the condition is correct or not

example = 10

if example > 6:
  print('the value of example variable is bigger than the condition')

the value of example variable is bigger than the condition

In [ ]:
# Q 12: Write a function that takes a list of as a parameter and retruns the sum of its elements.

def sumOfList(numberOfList):
  result = 0
  for val in numberOfList:
    result = val + result
  return print('the sum of this list is:', result)

lis = [10,20,30,40]
sumOfList(lis)

the sum of this list is: 100

In [ ]:
# Q13: Create a dict with keys 'name' and 'age'

Dict = {'name':'Abdullah','age':32}
print(Dict.keys())
print(Dict.values())

dict_keys(['name', 'age'])
dict_values(['Abdullah', 32])

In [ ]:
# Q 14: Use a while loop to print numbers from 1 - 3
counter = 1
while counter < 4:
  print(counter)
  counter += 1

1
2
3

In [ ]:
# Q 15: Explain the use of 'else' in python

# We use else as final option.

example = 5

if example < 5:
  print('this message will not shown')
else:
  print('this message will appear')

this message will appear

In [ ]:
# Q 16: Find the square root of a number using the math module

import math

testNumber = 25
result = math.sqrt(testNumber)
print(result)

5.0

In [ ]:
# Q 17: Concatenate two lists

List1 = [1,2,3,4,5]
List2 = [6,7,8,9,10]

print(List1 + List2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Q 18: check if a value is present in a tuple
tuple1 = (1,2,3, 'name','Abdullah')

check_the_value = 'name'

if check_the_value in tuple1:
  print('I found the element')
else:
  print("I didn't found the element ")

I found the element

In [ ]:
# Q 19: Write a function that takes two parameters and retrun their sum

def sumOfTwoNumber(number1,number2):
  result = number1 + number2
  print(result)

sumOfTwoNumber(10,10)

20

In [ ]:
# Q20: Create a numpy array with elements 1, 2, and 3:

import numpy as np

elements = np.array([1,2,3])
print(elements)

[1 2 3]

In [ ]:
# 21: Use for loop to iterate through a dictionary and print it is keys and values
Dict = {'Name':'Abdullah', 'ID':12345,'Age':35}

for akey in Dict:
  print('the key:', akey, 'the values:', Dict[akey])

the key: Name the values: Abdullah
the key: ID the values: 12345
the key: Age the values: 35

In [ ]:
# Q 22: Write a progam to check if a number is even or odd

RandomNumber = 7
if RandomNumber % 2 == 0:
  print('This number is even and')
else:
  print('This number is odd')

This number is odd

In [ ]:
# Q 23: Remove an element from a set:

Set = {112, 56, 'Hello', 'Smart'}
print(Set)
Set.remove(112)
print(Set)

{112, 56, 'Hello', 'Smart'}
{56, 'Hello', 'Smart'}

In [ ]:
# Q 24: Explain the purpose of 'elif' in python

#let's say we have a condition and we pass a value to this condition statement,
# but the first condition does not work due to the value not matching,
# then we can use 'elif', to have another option for checking if the value matches.

In [ ]:
# Q 25: Write a function that takes a string as input and returns its length

def length(values):
  counter = 0
  for value in values:
    counter += 1
  return print(counter)

List = [1,2,3,4,5,6,7,8,9]
length(List)

9

In [ ]:
# Q 26: Create a dicionary with nested dictionaries

Dict = {
    'Dict1': {'First':1, 'Second': 2},
    'Dict2': {'Third': 3, 'Forth': 4},
    'Dict3': {'Fifth': 5, 'Sixed': 6}}
print(Dict)

{'Dict1': {'First': 1, 'Second': 2}, 'Dict2': {'Third': 3, 'Forth': 4}, 'Dict3': {'Fifth': 5, 'Sixed': 6}}

In [ ]:
# Q27: Use list comprehenstion to create a list of squares from 1 to 5
List = []
for number in range(1,6):
  square = number**2
  List.append(square)
print(List)

[1, 4, 9, 16, 25]

In [ ]:
# Q28: Find the index if an element in a list:

List = [1,2,3,4,5,6,7,8,9]
check_the_index = 9

print('the index for given number is:', List.index(check_the_index))

the index for given number is: 8

In [ ]:
# Q29: Write a program to reverse a string

def reverse(value):
  return value[::-1]

input_string = 'Hello, World!, my name is Abdullah'
reverse(input_string)

'halludbA si eman ym ,!dlroW ,olleH'

In [ ]:
# Q 30: Calculate the sum of all elements in a numpy array.

import numpy as np

num = np.array([1,2,3,4])
print(sum(num))

10

In [ ]:
# Q 31 : Create a Tuple and convert it to a list

Tuple = (1, 2, 3, 4 ,5, 6)
print(type(Tuple))
List = list(Tuple)
print(type(List))

<class 'tuple'>
<class 'list'>

In [ ]:
# Q 32 Write a program to print the Fibonacci sequence up to 10 terms.

def Fibonacci_sequence(numbers):
  Fib_seq = []
  for value in range(len(numbers) - 1):
    Fib_seq.append(numbers[value] + numbers[value + 1])
  return print('the result of Fibonacci sequence:', Fib_seq)

List = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
Fibonacci_sequence(List)

the result of Fibonacci sequence: [1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
# Q 33: Check if a key exists in a dictionary using "in" keyword.

Dict = {'Name': 'Abdullah', 'Age': 30}

print('Name' in Dict)

True

In [ ]:
# Q 34: Write a function to calculate the average of a list

def average(numbers):
  counter = 0
  result = 0
  for values in numbers:
    result += values
    counter += 1
  return print(result / counter)

List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
average(List)

5.0

In [ ]:
# Q 35: Use a while loop to print even number from 2 to 8
counter = 0
while counter < 8:
  counter += 2
  print(counter)

2
4
6
8

In [ ]:
# Q 36: Merge two dictionaries:

Dict1 = {'Name': 'Abdullah', 'Age': 30}
Dict2 = {'City': 'Riyadh', 'specialist': 'mechanical engineer'}

Merge_Dict = {**Dict1, **Dict2}
print(Merge_Dict)

{'Name': 'Abdullah', 'Age': 30, 'City': 'Riyadh', 'specialist': 'mechanical engineer'}

In [ ]:
# Q37: Convert a list of strigns to a single string using the join method

List_of_strings = ['Abdullah', "Mohammed", "Ahmed"]
List = " ".join(List_of_strings)
print(List)

Abdullah Mohammed Ahmed

In [ ]:
# Q38: Find the maximum value in a numpay array

import numpy as np

arr = np.array([1, 2, 3, 4, 5])
print(max(arr))

5

In [ ]:
# Q 39: Write a program to find the common elements between two lists

def common(elements, values):
  Com_element = []
  for check in elements:
    if check in values:
      Com_element.append(check)
  return print('the common values between the two lists: ', Com_element)

List1 = ["test", 5, "one", 9]
List2 = ['test', 8, 'two', 5]
common(List1, List2)

the common values between the two lists:  ['test', 5]

In [ ]:
# Q40: Explain the purpose of the 'breake' statement in a loop

# break statement helps to control the flow of execution within loops and terminating when to exit the code lines

# New Section

In [ ]:
# HomeWorks:

def mean(x):
  val = 0
  count = 0
  for m in x:
    val = val + m
    count += 1
  print(val / count)

li = [1,2,3,4,5,6,7,8,9,10]
mean(li)

5.5

In [ ]:
# HomeWorks:

def median(values):
  counter = 0 # the counter should start from zero, so it can follow how many items in the list
  for value in values:    # for loop is for count how many items we have
    print('the value comes from the list:', value)
    counter += 1
    print('the counter:', counter)
  if counter % 2 == 1:    # here we want to check if the list is odd or even
    counter = int((counter + 1) / 2) # here we used the median function for the odd list
    print(values[counter - 1])
  else:
    counter = int((((counter / 2)) + ((counter / 2 + 1))) / 2) # here we have use the median function for even
    print((values[counter] + values[counter - 1]) / 2) # we have takes the value in values[3] + values[4] which there are (4 + 5) = 9, then we divide it by 2 so we have the median is 4.5

lis = [1,2,3,4,5,6,7]
median(lis)

the value comes from the list: 1
the counter: 1
the value comes from the list: 2
the counter: 2
the value comes from the list: 3
the counter: 3
the value comes from the list: 4
the counter: 4
the value comes from the list: 5
the counter: 5
the value comes from the list: 6
the counter: 6
the value comes from the list: 7
the counter: 7
4

In [ ]:
# Example from the lecture:

import numpy as np

x = np.array([[[1, 2, 3, 4], [5, 6, 7, 8]], [[9, 10, 11, 12], [13, 14, 15, 16]]])
for i in x:
  #print(i)
  for v in i:
    #print(v)
    for m in v:
      print(m)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16